<div class="video">
	<img src="{{ film.img }}" alt="..." class="img-responsive">
	<form action="/{{film.id}}vid" method="post">
		<select name="select">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
		<input  type="hidden" name="_csrf" value="{{ csrfToken }}">
		<button class="button" styles="float:left;" type="submit">Send</button>
	</form>
</div>